# Ignore config files
application/config/config.php
application/config/config.php

application/config/discourse.php
application/config/discourse.config.php

application/config/mail.config.php

application/config/mediawiki.config.php

application/config/modules.config.php

application/config/discord.structure.php