/*
    Copyright 2014 Cédric Levieux, Jérémy Collot, ArmagNet

    This file is part of OpenTweetBar.

    OpenTweetBar is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    OpenTweetBar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with OpenTweetBar.  If not, see <http://www.gnu.org/licenses/>.
*/
html,body {
	height: 100%;
}

.theme-showcase {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -50px;
}

.navbar-bottom {
	margin-bottom: 0px;
	margin-top: 20px;
}

.panel-heading a:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: grey;
}

.panel-heading a.collapsed:after {
	content: "\e080";
}

.mailForm {
	display: none;
}

#loginForm {
	position: relative;
	z-index: 1000;
	width: 260px;
	margin-left: -260px;
	float: right;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.75);
	top: -60px;
	right: 10px;
	border-radius: 10px;
}

.otbHidden {
	display: none;
}

.color-inherit {
	color: inherit;
}

.vertical-middle {
	vertical-align: middle;
}

.lastDiv {
	min-height: 72px;
	height: 72px;
}

.authorColumn {
	width: 160px;
	max-width: 160px;
}

.dateColumn {
	width: 160px;
	max-width: 160px;
}

.validationColumn {
	width: 130px;
	max-width: 130px;
}

.actionColumn {
	width: 230px;
	max-width: 230px;
}

.padding-left-0 {
	padding-left: 0;
}

.margin-bottom-0 {
	margin-bottom: 0;
}

.labelForCheckbox {
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.tweeter-count {
	background-color: transparent;
	color: #8899a6;
	display: inline-block;
	width: 35px;
	border: 0;
	padding: 0 3px;
	position: relative;
	vertical-align: top;
	text-align: right;
	font-size: 14px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
}

.number-of-tweets {
	cursor: pointer;
}

.tweet-content + sup {
    display: none;
}

.tweet-content:hover + sup {
    display: initial;
}

.tweet-row td textarea {
    width: 100%;
}

.account-panel .panel-heading {
	padding-top: 5px;
	font-size: 30px;
	text-align: center;
	height: 116px;
    background-clip: border-box;
    background-size: cover;
}

.account-panel .panel-heading span {
    background-color: rgba(245, 245, 245, 0.7);
}

/* Spin animation */
.spin {
     -webkit-transform-origin: 50% 50%;
     transform-origin:50% 50%;
     -ms-transform-origin:50% 50%; /* IE 9 */
     -webkit-animation: spin 1s infinite linear;
     -moz-animation: spin 1s infinite linear;
     -o-animation: spin 1s infinite linear;
     animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert {
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 1000;
}

.btn-full-width {
	width: 100%;
}

.large-dialog .modal-dialog {
	margin: 0 auto;
	width: 90%;
}

tbody tr.selected-row {
	color: #fff;
    background: #337ab7;
}

.search-member-table tbody tr:hover {
    color: #000;
	background: #F5F5F5;
}


tbody tr.selected-row:hover {
    color: #fff;
    background: #286090;
}
