/*
    Copyright 2015-2019 Cédric Levieux, Parti Pirate

    This file is part of Congressus.

    Congressus is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Congressus is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Congressus.  If not, see <https://www.gnu.org/licenses/>.
*/

@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

nav.footer {
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	color: black;
}

nav.logo {
	float: left;
}

.header {
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	text-align: center;
	text-shadow: lightgrey 3px 3px 3px;
}

a {
	color: inherit;
}

/*
h2, h3 {
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	text-shadow: lightgrey 3px 3px 3px;
}
*/

#agenda_point .objects .list-group-item {
    border-radius: 4px;
    margin: 2px;
    border-width: 1px;
}

#agenda_point .objects {
/*
	max-height: 500px;
	overflow-y: scroll;
*/
}

#right-panel {
/*	
    max-height: 465px;
    overflow-y: scroll;
*/    
}

.proposition ul li {
	display: inline-block;
	margin-right: 5px;
}

.proposition ul li .badge {
    margin-left: 2px;
}

.president select, .secretary select {
	display: inline-block;
	width: 50%;
    padding-left: 6px;
    padding-right: 6px;
}

input.input-xs {
    height: 20px;
    padding: 1px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.description-editor+div .Editor-editor {
	min-height: 200px;
}

span.highlight {
	background: yellow;
	text-shadow: white 1px 1px 1px;
	border: 1px grey dashed;
}

.hide-missing {
	display: none !important;
}

.hide-paged {
    display: none !important;
}

a.page {
    margin-left: 5px;
    margin-right: 5px;
}

a.page.active {
	font-weight: bold;
}

#calendar {
	margin-bottom: 15px;
}

#meeting-agenda li li {
	padding-right: 0px;
}

#meeting-rights label, .right-label {
	font-weight: normal;
}

a.agenda-link {
    display: inline-block;
    min-height: 22px;
}

#noticed-people h5 {
    display: inline-block;
    min-height: 19px;
}

#noticed-people ul ul h5 {
    display: inline-block;
    min-height: 0;
}

.secretary-reading {
	font-style: italic;
}

.secretary-reading:after {
	content:" \f0e3";
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

.personal-reading {
	font-weight: bold;
}

.personal-reading:after {
	content:" \f02d";
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

.form-alert {
	height: 34px;
    margin: 0;
    border-radius: 4px;
    padding: 7px 10px;
}

.simply-hidden {
	display: none;
}

body {
/*
	background-image: url(../images/background_lightgrey.png);
    background-size: cover;
*/    
}

.watermark {
    position: absolute;
    top: 500px;
    left: -150px;
    z-index: -10;
    width: 50%;
    height: 0;
    overflow: hidden;
}

.watermark-inside {
	background-image: url(../images/logo_pp_voile.svg) !important; 
    background-repeat: no-repeat;
    opacity: 0.02;
    background-size: contain;
    height: 1000px;
}

.breadcrumb {
	background-color: rgba(245,245,245,0.55);
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

li.chat span {
	vertical-align: top;
}

span.chat-member {
    display: inline-block;
/*    width: 70px;*/
	height: 21px;
}

span.chat-nickname {
    display: inline-block;
/*    width: 100%;*/
    text-align: right;
}

span.chat-text {
    display: block;
    width: calc(100% - 20px);
    padding-left: 20px;
}

span.chat-text::first-letter {
    font-size: 110%;
/*    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);*/
    text-transform: uppercase;
}

.btn-group-xs>.btn, .btn-xs {
	padding: 1px 2px 1px 3px;
    line-height: 1.2;
}

#framatalk {
	position: fixed;
	width: 350px;
	top: 70px;
	left: 10px;
	height: 350px;
	border: 0;
}

#framatalk iframe {
	width: calc(100% - 5px);
	height: calc(100% - 5px);
	border: 0;
}

a[disabled] {
	color: lightgrey;
}

.chat .progress {
    height: 3px;
}

.chat .progress:hover {
    height: auto;
}

.btn-external {
    color: #fff;
    background-color: #5c97b8;
    border-color: #3e8f3e;
}

.btn-external:hover,
.btn-external:focus {
    color: #fff;
    background-color: #417796;
    background-position: 0 -15px;
}

.btn-special {
    color: #fff;
    background-color: #933BA4;
    border-color: #75332A;
}

.btn-special:hover,
.btn-special:focus {
    color: #fff;
    background-color: #781B82;
    background-position: 0 -15px;
}

/* The Modal (background) */
.export_container {
	 position: fixed; /* Stay in place */
	 z-index: 1; /* Sit on top */
	 left: 0;
	 top: 0;
	 width: 100%; /* Full width */
	 height: 100%; /* Full height */
	 overflow: auto; /* Enable scroll if needed */
	 background-color: rgb(0,0,0); /* Fallback color */
	 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* Modal Content/Box */
.export_content {
/*	background-image: url(../images/background_lightgrey.png);*/
	background-color: #ffffff;
	margin: 5% auto;
	padding: 0;
	width: 80%;
	height: 600px;
	-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@media (max-width: 768px) {
	.export_content {
		margin: 0;
		width: 100%;
	}
}

.export_content .navbar {
	border-radius: 0;
	height: 50px;
	margin-bottom: 0;
}

.export_content .navbar-header .navbar-btn {
    background-color: transparent;
    color: #9d9d9d;
    border: none;
}

.export_content .navbar-header .btn-active {
    background-color: #000;
    color: #fff;
}

.export_content iframe, .export_content #export_area {
	overflow: auto;
	width: 100%;
	padding: 0;
	border: 0;
	height: 550px;
	position: relative;
	top: -1px;
}

.notice .label{
	color: inherit;
}

.margin-top-5 {
    margin-top: 5px;
}

.btn-success.zero,
.btn-success.zero:hover,
.btn-success.zero:focus {
	background: #5cb85c; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #5cb85c 0%, #ffffff 10%, #ffffff 90%, #5cb85c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #5cb85c 0%,#ffffff 10%,#ffffff 90%,#5cb85c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #5cb85c 0%,#ffffff 10%,#ffffff 90%,#5cb85c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb85c', endColorstr='#5cb85c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
	color: black;
}

.btn-warning.zero,
.btn-warning.zero:hover,
.btn-warning.zero:focus {
	background: #f0ad4e; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f0ad4e 0%, #ffffff 10%, #ffffff 90%, #f0ad4e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f0ad4e 0%,#ffffff 10%,#ffffff 90%,#f0ad4e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f0ad4e 0%,#ffffff 10%,#ffffff 90%,#f0ad4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ad4e', endColorstr='#f0ad4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
	color: black;
}

.btn-danger.zero,
.btn-danger.zero:hover,
.btn-danger.zero:focus {
	background: #d9534f; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #d9534f 0%, #ffffff 10%, #ffffff 90%, #d9534f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #d9534f 0%,#ffffff 10%,#ffffff 90%,#d9534f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #d9534f 0%,#ffffff 10%,#ffffff 90%,#d9534f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9534f', endColorstr='#d9534f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
	color: black;
}

.padding-top-5 {
	padding-top: 5px;
}

#diff del, #motion-description del {
	color: #a94442;
	background-color: #f2dfde;
	text-decoration: line-through;
}

#diff ins, #motion-description ins {
	color: #3c763d;
	background-color: #ddeedd;
	text-decoration: none;
}

#diff, #motion-description, #source, #destination {
	max-height: 300px;
	overflow-y: scroll;
}

#diff, #motion-description {
	width: calc(100% - 20px);
/*	background: #d0d0ff;	*/
}

.change-scroll {
	border: #ccc 1px solid;
	width: 18px;
/*	margin-top:-1px;*/
/*	margin-bottom:-1px;*/
	margin-right: 2px;
/*	background: #ffd0d0;	*/
	float: left;
	position: relative;
}

.scroll-zone {
	position: relative;
	width: 16px;
	background: #eee;
	float: left;
}

.inserted {
	border-radius: 4px;
	border: #3c763d 1px solid;
	background-color: #ddeedd;
	height: 8px;
	width: 8px;
	margin: 0 -8px -8px 0;
	cursor: zoom-in;
}

.deleted {
	border-radius: 4px;
	border: #a94442 1px solid;;
	background-color: #f2dfde;
	height: 8px;
	width: 8px;
	margin: 0 -8px -8px 0;
	cursor: zoom-in;
}

.ratio-thumb-down-is-major .chat-body {
	background-color: #f2dfde;
	text-decoration: line-through;
}

#markdown-area h1, #motion-description h1, #diff h1 {
	padding-left: calc(1 * 5px);
	text-decoration: underline;
}

#markdown-area h2, #motion-description h2, #diff h2 {
	padding-left: calc(2 * 5px);
	text-decoration: underline;
}

#markdown-area h3, #motion-description h3, #diff h3 {
	padding-left: calc(3 * 5px);
	text-decoration: underline;
}

#markdown-area h4, #motion-description h4, #diff h4 {
	padding-left: calc(4 * 5px);
	text-decoration: underline;
}

#markdown-area h5, #motion-description h5, #diff h5 {
	padding-left: calc(5 * 5px);
	text-decoration: underline;
}

#markdown-area h6, #motion-description h6, #diff h6 {
	padding-left: calc(6 * 5px);
	text-decoration: underline;
}

#markdown-area h7, #motion-description h7, #diff h7 {
	padding-left: calc(7 * 5px);
}

.children-chat {
    margin-left: 50px;
    background-color: #f8f8f8;
}

.pinned {
    background-color: #eee;
}

.member .power {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.btn-comment {
    height: 19px;
}


/* Share */

.share-container .dropdown-menu {
    min-width: 0 !important;
    padding: 5px 10px;
}


.share-container .dropdown-menu .dropdown-item {
	white-space: nowrap;
}

.share-container .dropdown-menu .dropdown-item .fa, .share-container .dropdown-menu .dropdown-item .fa:hover {
	width: 18px;
    text-align: center;
    text-decoration: none;
    margin-right: 4px;
}

.share-container .dropdown-menu .dropdown-item .fa-facebook {
	color: #3b5998;
}

.share-container .dropdown-menu .dropdown-item .fa-twitter {
	color: #00aced;
}

.share-container .dropdown-menu .dropdown-item .fa-google-plus {
	color: #d34836;
}

.btn-share-chat {
	position: relative;
	height: 19px;
}

.breadcrumb>li+li.no-crumb:before {
    content: "" !important;
    padding: 0 0 !important;
    color: #cccccc;
}

#chartjs-tooltip {
	border-color: #101010;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	color: #fff;
	background-color: #101010;
	padding: 5px;
	z-index: 20000;
}

#chartjs-tooltip:before {
	position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: #1E2021;
    right: -12px;
    top: 9px;	
	z-index: 20000;
}

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-bottom > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-bottom > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-bottom > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-bottom > .nav-tabs > li > a:hover,
.tabs-bottom > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-bottom > .nav-tabs > .active > a,
.tabs-bottom > .nav-tabs > .active > a:hover,
.tabs-bottom > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-bottom {
    padding-bottom: 0;
}

.panel-heading a:after {
    margin-left: 5px;
}

.motion-description-text, #description p {
    max-width: calc(100% - 58px);
    display: inline-block;
    margin-right: 2px;
}

.judgement {
    filter: brightness(75%) !important;
}

.judgement.active {
    filter: brightness(100%) !important;
}

div, p ul, li, h1, h2, h3, h4, h5, h6, button, label {
	font-family: ubunturegular, ubuntu !important;
}

.panel-title.motion-title {
	font-size: 22px;
}

.meetings .event-important {
    background-color: hsl(0, 68%, 90%);
}

.meetings .event-info {
    background-color: hsl(210, 100%, 90%);
}

.meetings .event-warning {
    background-color: hsl(49, 93%, 90%);
}

.meetings .event-inverse {
    background-color: hsl(0, 0%, 90%);
}

.meetings .event-success {
    background-color: hsl(120, 100%, 90%);
}

.meetings .event-special {
    background-color: hsl(300, 100%, 90%);
}

.chat-body a {
    text-decoration: underline !important;
}

ul.givers-list {
    list-style-type: none;
}

.group-list, .group-list ul {
    list-style: none;
}

.btn-open-givers, .btn-close-givers {
    margin-top: -6px;
}

@media (min-width: 1024px) {
  .modal-dialog {
      width: 900px;
  }
}

@media (min-width: 1600px) {
  .modal-dialog {
      width: 1300px;
  }
}

.motion-entry table td, .motion-entry table th {
    padding: 5px;
    border: 1px solid #ddd;
}

.motion-entry table {
    border: 1px solid #ddd;
}

.toggle-group > label {
	line-height: 18px;
}

div.toggle {
    position: relative;
    top: -3px;
}