/*
    Copyright 2015 Cédric Levieux, Parti Pirate

    This file is part of PPMoney.

    PPMoney is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    PPMoney is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with PPMoney.  If not, see <http://www.gnu.org/licenses/>.
*/
nav.footer {
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	color: black;
}

nav.logo {
	float: left;
}

.header {
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	text-align: center;
	text-shadow: lightgrey 3px 3px 3px;
}

a {
	color: inherit;
}

/*
h2, h3 {
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	text-shadow: lightgrey 3px 3px 3px;
}
*/

#agenda_point .objects .list-group-item {
    border-radius: 4px;
    margin: 2px;
    border-width: 1px;
}

#agenda_point .objects {
	max-height: 500px;
	overflow-y: scroll;
}

#right-panel {
    max-height: 585px;
    overflow-y: scroll;
}

.proposition ul li {
	display: inline-block;
	margin-right: 5px;
}

.proposition ul li .badge {
    margin-left: 2px;
}

.president select, .secretary select {
	display: inline-block;
	width: 98px;
    padding-left: 6px;
    padding-right: 6px;
}

input.input-xs {
    height: 20px;
    padding: 1px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.description-editor+div .Editor-editor {
	min-height: 200px;
}

span.highlight {
	background: yellow;
	text-shadow: white 1px 1px 1px;
	border: 1px grey dashed;
}

.hide-missing {
	display: none !important;
}

.hide-paged {
    display: none !important;
}

a.page {
    margin-left: 5px;
    margin-right: 5px;
}

a.page.active {
	font-weight: bold;
}

#calendar {
	margin-bottom: 15px;
}

#meeting-agenda li li {
	padding-right: 0px;
}

#meeting-rights label, .right-label {
	font-weight: normal;
}

a.agenda-link {
    display: inline-block;
    min-height: 22px;
}

#noticed-people h5 {
    display: inline-block;
    min-height: 19px;
}

#noticed-people ul ul h5 {
    display: inline-block;
    min-height: 0;
}

.secretary-reading {
	font-style: italic;
}

.form-alert {
	height: 34px;
    margin: 0;
    border-radius: 4px;
    padding: 7px 10px;	
}

.simply-hidden {
	display: none;
}

body {
    background-image: url(../images/background_lightgrey.png);
    background-size: cover;	
}

.breadcrumb {
	background-color: rgba(245,245,245,0.55);
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

li.chat span {
	vertical-align: top;
}

span.chat-member {
    display: inline-block;
    width: 70px;
}

span.chat-nickname {
    display: inline-block;
    width: 100%;
    text-align: right;
}

span.chat-text {
    display: inline-block;
    width: 500px;
}

.btn-group-xs>.btn, .btn-xs {
	padding: 1px 2px 1px 3px;
    line-height: 1.2;
}

#framatalk {
	position: fixed;
	width: 350px;
	top: 70px;
	left: 10px; 
	height: 350px;	
	border: 0;
}

#framatalk iframe {
	width: calc(100% - 5px);
	height: calc(100% - 5px);	
	border: 0;
}

a[disabled] {
	color: lightgrey;
}

.chat .progress {
	height: 3px;
}

.chat .progress:hover {
	height: auto;
}